html{overflow-y:scroll;}

body{
font-size:12px;
color:#000000;
background-color:#F6F4F0;
margin:5px;
}


body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input{
font-family:verdana,helvetica,arial,sans-serif;
}


textarea { resize:both; } /* none|horizontal|vertical|both */
textarea.vert { resize:vertical; }
textarea.noResize { resize:none; }


.show-secure-chat-room {
position:relative;
left:-40px;
top:0px;
}
.secure-chat-input{

}
